<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Obligatory Chat App</title>
        <link rel="icon" href="/assets/favicon.ico" />
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
