{% extends "base.html" %}
{% block content %}
    <form data-hx-post="/login"
          data-hx-target-error=".has-error"
          autocomplete="off"
          id="login-form">
        <div class="error"></div>
        <div class="form-field">
            <label for="email">Email</label>
            <input type="email" name="email" required />
        </div>
        <div class="form-field">
            <label for="password">Password</label>
            <input type="password" name="password" required />
        </div>
        <button class="full-width" type="submit">Log in</button>
    </form>
    <p class="has-error text-center"></p>
    <span class="text-center">Don't have an account? <a href="/sign-up">Sign up here!</a></span>
{% endblock content %}
