{% extends "base.html" %}
{% block content %}
    <form action="/sign-up" method="POST" autocomplete="off">
        <div class="form-field">
            <label for="handle">Chat handle*</label>
            <input type="text" name="handle" required />
        </div>
        <div class="form-field">
            <label for="email">Email*</label>
            <input type="email" name="email" required />
        </div>
        <div class="form-field">
            <label for="password">Password</label>
            <input type="password" name="password" required />
        </div>
        <div class="form-field">
            <button type="submit">Sign me up</button>
        </div>
    </form>
    <span>
        <a href="/login">Back to login</a>
    </span>
{% endblock content %}
